/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/composer.phar
/vendor/*
!vendor/.gitkeep
/web/bundles/
web/css/
web/js/
nbproject/
app/cache/
composer.lock
README.md
web/media/cache/
