<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Czym się zajmuję?</h2>
                <h3 class="section-subheading text-muted">Specjalizuję się w tworzeniu oraz edycji i wdrażaniu nowych funkcji do istniejących już stron internetowych i web aplikacji.</br></br>W moich kompetencjach leży również konfiguracja i obsługa serwerów.</br></br>Masz coś do zrobienia? Daj znać, na pewno coś uzgodnimy!</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Oprogramowanie</h4>
                <p class="text-muted">Tworząc projekt przykładam uwagę do działania oraz stylu tworzenia, przez co w przyszłości łatwo można zaimplementować nowe funkcje, a użytkownicy byli zadowoleni z jakości produktu.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Design</h4>
                <p class="text-muted">Strony projektuję tak, aby spełniały wszystkie najnowsze standardy i jednocześnie wspierały stare przeglądarki.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Bezpieczeństwo</h4>
                <p class="text-muted">Usługi wykonuję przy użyciu najnowszych technologii i narzędzi, przez co produkt jest pozbawiony nieporządanych błędów oraz odporny na ataki.</p>
            </div>
        </div>
    </div>
</section>
