{% block contact %} 
    <section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Kontakt</h2>
                <h3 class="section-subheading text-light">Nie zwlekaj, napisz już dziś!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Imię i nazwisko" id="name" required data-validation-required-message="Imię i nazwisko jest obowiązkowe">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="E-mail jest obowiązkowy" data-validation-validemail-message="E-mail jest nieprawidłowy">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Numer telefonu" id="phone" maxlength="14">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Temat wiadomości" id="subject" required data-validation-required-message="Temat wiadomości jest obowiązkowy">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Twoja wiadomość" id="message" required data-validation-required-message="Treść wiadomości jest obowiązkowa"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Wyślij</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section>
 {% endblock %}